# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: My Approximation
email: henrylihao@outlook.com
description: >
  "在终极的分析中，一切知识都是历史；在抽象的意义下，一切科学都是数学；在理性的基础上，所有的判断都是统计学"。
  
  “All models are wrong, but some are useful" - George E.P.Box
baseurl: ""
url: "https://henryli121.github.io" # the base hostname & protocol for your site, e.g. http://example.com
instagram_username: henry_lihao
github_username:  henryli121
permalink: /:categories/:year/:month/:day/:title/

# Build settings
theme: minima
plugins:
  - jekyll-feed

# Add the navigation links here
nav_links:
  - name: "Home"
    link: "/"
  - name: "关于"
    link: "/about/"
  - name: "博客"
    link: "/blog/"
  - name: "摄影"
    link: "/pic/"
  - name: "创作"
    link: "/create/"
  

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
