<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script type="text/javascript" id="MathJax-script" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  <link href="{{ '/assets/css/lightbox.css' | relative_url }}" rel="stylesheet">
  <link href="{{ '/assets/css/gallery.css' | relative_url }}" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{{ '/assets/js/lightbox-plus-jquery.min.js' | relative_url }}"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      lightbox.option({
        'resizeDuration': 200,
        'wrapAround': true,
        'alwaysShowNavOnTouchDevices': true,
        'albumLabel': "Image %1 of %2",
      });
    });
  </script>
</head>