---
layout: base
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <body>
    {%- include header.html -%}
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <article class="photo-page">
          <header class="photo-header">
            <h1>{{ page.title }}</h1>
            <p>{{ page.date | date: "%B %-d, %Y" }}</p>
          </header>
          <div class="photo-content">
            <img src="{{ page.img_path }}" alt="{{ page.title }}">
            {{ content }}
          </div>
        </article>
      </div>
    </main>
    {%- include footer.html -%}
  </body>
</html>